/* MISE EN PAGE DU BODY*/
body {                                                   
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto Slab', serif;
    
}
/* COLONNE DE GAUCHE */
aside {
    width: 100%;
    max-width: 300px;
    background-color: #2196f3;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
}
.photo img {
    border-radius: 110%;
}
.photo {
    align-self: center;
}
.a_propos{
    height: 50%;
}
.a_propos h2 {      /* couleur titre colonne de droite*/ 
    background-color: #363636;
    text-align: center;
    color: #2196f3;
    font-size: 1.5em ;
}
.a_propos div {     /*alignement des blocs*/
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify; /* alignement text des div */
}
.activite {
    padding-bottom: 0;
}
.activite h2 {       /* couleur titre colonne de droite */
    background-color: #363636;  /* couleur de fond du titre loisir */
    text-align: center; /* alignement du texte au centre */
    color: #2196f3;  /* couleur du titre */
    font-size: 1.5em ;  /* taille du titre */
}
.activite div {
    margin-left: 10%;   
    margin-right: 10%;
    text-align: justify;
}
.contact h2 {       /* couleur titre colonne de droite */
    background-color: #363636;      /* couleur de fond du titre loisir */
    text-align: center;         /* alignement du texte au centre */
    color: #2196f3;         /* couleur du titre */
    font-size: 1.5em ;      /* taille du titre */
}
.contact p {
    line-height: 1em;       /* hauteur espacement des lignes */
    margin-left: 10%;       /* marge de gauche */
    margin-right: 10%;      /* marge de droite */
}
.loisirs {                 /* FLEX BOXE FONT AWESOME LOISIRS*/
    display: flex;      /* commande flex du bloc */
    padding-bottom: 10%;  /* marge interieur du bas du bloc */
    justify-content: center;  /* alignement du bloc au cntre*/
}

.loisirs span {             /* font awesome */
    font-size: 1.8em;       /* taille des fonts awesome */
    justify-content: space-around;  /* espacement des blocs avec flexbox */
    margin: auto;       /* marge auto des blocs */
    color: #363636;  /* couleur des fonts awesome */
}
.description {
    height: auto;  /* hauteur du bloc a propos auto */
}
.description p {    /* alignement des bloc paragraphe a propos */
    text-align: initial;
}

/* COLONNE DE DROITE */
#container {
    width: 100%;            /* largeur du conteneur */
    max-width: 700px;       /* largeur max du conteneur */
    margin-left: 5%;        /* mare de gauche du conteneur */
    padding-top: 3%;        /* marge interieur en haut du conteneur */
}
header span {            /* couleur du prenom titre*/
    color: #2196f3;
}
header {            
    line-height: 1em;  /* espacement entre les ligne */
    margin-top: 5em;        /* marge en heut du bloc */
    margin-bottom: 5em;     /* marge exteieur du bloc */
}
header h1 {
    font-size: 2.5em;           /* taille de la police du titre principal */ 
}
header h2 {
    font-size: 2em;         /* taille du titre secondaire */
}
article {
    width: auto;            /* Largeur du bloc article */
}
#container h3 {
    font-size: 1.5em;       /* teille des titre de troisième niveau du bloc container */
    border-bottom: 3px solid #2196f3;  /* ligne basse du bloc */
    margin-right: 5%;           /* marge de droite du titre h3 */
}

/* MISE EN PAGE FONT AWESOME*/
span {                      /* font awesome */
    color: #2196f3;
    margin-right: 1em;
}
.fa-bullseye {              /* font awesome */
    font-size: 0.8;         /* Taille du font awesome */
}
.fa-circle {                /* font awesome */
    font-size: 0.6em;       /* Taille du font awesome */
}
/*       Mise en page SECTION     */
section article {
    display: flex;  
}
.recommandation article {           /* FLEX BLOCS FOOTER*/
    display: flex;
}
.recommandation div {
    width: 50%;  /* LARGEUR DIV RECOMMANDATION*/
}
.date {
    display: flex;
    align-items: center;    /* alignement tflex box des blocs */
    width: 30%;             /* largeur des blocs date */
    max-width: auto;    /* Largeur des blocs maximum*/
}
.text {
    width: 70%;         /* largeur du blocs text */
    max-width: auto;   /* largeur maximal du bloc text*/
}
em {
    font-weight: bold;   /* mise en gras des titre */
}
/*media queries pour resposive*/
@media all and (min-width: 850px){
    .photo_header {
        display: none;  /* disparition de la photo dans les petits écrans*/
    }
}
@media all and (max-width: 850px){
    body {
        margin: 0;
        padding: 0;
        flex-direction: column-reverse;  /* mise ne place de la colonne de gauche en bas */
        width: 100%;
    }
    aside {
        width: auto;
        max-width: 900px;
    }
    .photo {
        display: none;
    }
    header h1 {
        margin-left: auto; 
        margin-right: 0;
    }
    header h2 {
        margin-left: auto; 
        margin-right: 0;
    }
    .contact div {
        text-align: center;
    }
      /* colonne de gauche*/
      #container {
        font-size: 1em;
        justify-content: center;
        margin: 0;
        padding-left: 3%;
    }
    section {
        padding-left: 7%;
        padding-right: 7%;
    }
    .footer h3 {
        width: 100%;
    }
    .recommandation .main {
        width: 100%;
    }
    .recommandation article {
        padding-left: 7%;
        padding-right: 7%;
    }
}
@media all and (max-width: 530px){
    #container {
        font-size: 0.7em;
    }
}