body {
    font-family: 'roboto slab', serif;

    margin-left: auto;
    margin-right: auto;

    width: 100%;
    max-width: 1000px;

    display: flex;
}

/* COLONNE DE GAUCHE */
aside {
    padding-top: 3%;

    width: auto;
    max-width: 30%;

    display: flex;
    flex-direction: column;

    background-color: #2196f3;
}
.photo {
    align-self: center;
}
.photo img {
    border-radius: 110%;
}
aside h2 {
    background-color: #363636;

    text-align: center;
    color: #2196f3;
    font-size: 1.5em;
}
.contact p {
    line-height: 1em;

    margin-left: 10%;
    margin-right: 10%;
}
.a_propos {
    height: 70%;
}
.a_propos div {
    margin-right: 10%;
    margin-left: 10%;

    text-align: justify;
}
.activite{
    margin-bottom: 1%;
}
.activite div {
    margin: auto;

    text-align: justify;
    color: #363636;
    font-size: 1.8rem;
}
.loisirs {
    display: flex;
    justify-content: center;

    padding-bottom: 5%;
}

/* COLONNE DE DROITE */

#container {
    width: auto;
    max-width: 70%;

    padding-top: 3%;
    margin-left: 5%;
}
header {
    line-height: 1em;

    margin-top: 5em;
    margin-bottom: 5em;
}
header h1 {
    font-size: 2.5em;
}
.prenom {
    color: #2196f3;
}
header h2 {
    font-size: 2em;
}
#container h3 {
    font-size: 1.5em;
    border-bottom: 3px solid #2196f3;

    margin-right: 5%; /*a voir si il faut pas l'enlever en fin de codage*/
}
h3 span {
    color: #2196f3;
    margin-right: 1em;
}
.fa-bullseye {
    font-size: 0.8em;
}
.fa-circle {
    font-size: 0.6em;
}
.icon {
    color: #2196f3;
    padding-right: 0.5em;
}
article {
    display: flex;
    width: auto;
}
.formation p, h4 {
    margin-top: 0em;
}
h4 {
    margin-bottom: 0em;
}
.partie p, h4 {
    margin-top: 0em;
}
.date {
    width: 30%;
    max-width: auto;
}
.date em {
    font-weight: bold;
}
.text {
    width: 70%;
    max-width: auto;
}
.recommandation article div {
    width: 50%;
    padding-left: 1.3em;
}
        /* RESPONSIVE */
@media all and (max-width: 780px) {
    body {
        margin: 0em;
        flex-direction: column-reverse;
    }
    header h1, h2 {
        text-align: center;
    }
    .photo {
        display: none;
    }
    #container {
        max-width: 100%;
    }
    aside {
        max-width: 100%;
    }
}
@media all and (max-width: 530px){
    header h1,h2 {
        font-size: 2.5rem;
    }
}
@media all and (max-width: 500px){
    #container {
        font-size: 0.7rem;
    }
    header h1,h2 {
        font-size: 1.5rem;
    }
}